h1{
    text-align : center;
    font-weight :  bold;
    text-decoration : underline;
    text-decoration-style : dotted;
    text-decoration-color:red;
    letter-spacing : 5px;
 

}
p{

    text-align: justify;
    font-weight : lighter;
    line-height :2;
    font-size : 30px;
    font-family :arial; 
}
h2{
    text-align : right;
    text-decoration : line-through;
    font-family: impact;
}
h3{
    text-align : left;
    text-decoration : overline;
    font-family : impact;
}
a{
    text-decoration-style : dotted;
}