h1{
    text-align :center;
}
h3{
    text-align : center;
    color : black;
}
h4{
    text-align : center;
}
p{
    color : red;
    line-height: 30px;
}
a{
    color : rgb(0, 255, 0);
    text-decoration : none;
}
button{
    background-color : white;
    color : blueviolet;
}