
/* Universal selector  */
*{
    font-family:'Courier New';
}
/* Element selector */
h1{
    color : #1b74e4;
}
/* Id selector */
#searchbtn{
    background-color: black;
    color : white;
}
/* Class slector */
.userbtn{
    background-color: aqua;
}
