div{
    height : 200px;
    width : 500px;
    border-width : 5px;
    border-style : solid;
    border-color : brown; 
    border-left : 5px dashed blue;
    border-top : 5px solid yellow;
    border-top-right-radius : 20px;
    padding: 20px;
    padding-top : 40px;
    margin : 20px 10px;
}
h1{
    border : 2px dotted green;
}
button{
    border-radius : 20px;
    padding : 0px 20px;
    color : white;
    background-color : black;
}
