h3{
    display:inline;
}
span{
    display:block;
}
div{
     height :50px;
     width : 50px;
     background-color:green;
     border : 2px solid black;
     margin : 5px;
     display : inline-block;
}
#fourth{
    display :none;
}